@model aspdotnet.Models.Automobile

@{
    ViewData["Title"] = "Usun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usun</h1>

<h3>Jestes pewien?</h3>
<div>
    <h4>Auto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usun" class="btn btn-danger" /> |
        <a asp-action="Index">Wroc do listy</a>
    </form>
</div>
